.imageContainer {
    position: relative;
    cursor: pointer;
}

.imageContainer:hover .imageControl {
    display: inline;
}

.imageControl {
    width: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0.8;
}

.gifImage {
    background-color: rgba(97, 177, 190, 0.5);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 4px;
}

    