.appContainer {
  display: flex;
  flex-direction: column;
  margin: 30px 60px;
}

.noGifMessage {
  align-self: center;
  padding-top: 30px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .appContainer {
    margin: 0px;
  }
}
