.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logoAndSearchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.controlContainer {
    display: flex;
    flex-direction: row;
}

.appLogo {
    width: 60px;
}

.controlButton {
    color: #606060;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
    padding: 5px 10px;
}

.controlButton:hover {
    background: #F0F0F0;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .headerContainer {
        justify-content: center;
    }
    .controlContainer {
        margin-top: 10px;
    }
    .appLogo {
        margin-bottom: 5px;
    }
  }