.searchInput {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background: #F0F0F0;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px 10px;
    color: #606060;
    font-weight: 500;
    font-size: 20px;
}